<div class="container">
  <h2>管理者画面</h2>
  <% @members.each do |member| %>
    <div class="row">
      <div class="col-md-4">
        <%= member.name.present? ? '名無し' : member.name %>
      </div>
      <div class="col-md-4">
        <%= member.email %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Destroy', admin_member_path(member), method: :delete %>
      </div>
    </div>
  <% end %>
</div>